        body {
            padding: 0;
            margin: 0;
        }

        /* nev bar */
        .nav {
            background-color: rgb(203, 159, 245);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 16px;
            height: 50px;
            color: rgb(155, 71, 180);

        }

        .nav>h1 {
            margin: 0;
            font-size: 24px;
        }

        .navLinks {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .navLinks>a {
            color: rgba(18, 5, 49, 0.493);
            text-decoration: none;
            font-size: 14px;
        }

        .navLinks>button {
            background-color: rgb(26, 36, 177);
            border: none;
            height: 26px;
            padding-inline: 10px;
            border-radius: 20px;
            color: rgba(255, 255, 255, 0.646);
            font-size: 12px;
            cursor: pointer;
        }

        .navLinks>button:hover {
            background-color: rgb(180, 141, 141);
            color: rgb(88, 80, 80);
        }

 
    .formSection {
      height: 100dvh;
      width: 100dvw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background-color: rgb(235, 241, 255);
      width: 300px;
      height: 380px;
      border-radius: 10px;
      border: 1px solid rgb(175, 175, 175);
    }
    .container > h4,
    .container > p {
      text-align: center;
    }

    .container > p {
      font-size: 12px;
      margin: 0;
    }


    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 16px;
    }

    .inputBox {
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      border: 2px solid rgb(70, 70, 70);
      border-radius: 6px;
      height: 30px;
    }
    .inputBox > input {
      flex: 1;
      height: 100%;
      border: none;
      padding-left: 6px;
      background-color: transparent;
      outline: none;
    }
    .inputBox > i {
      background-color: rgb(70, 70, 70);
      height: 100%;
      width: 30px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .submitBtn {
      background-color: rgb(131, 131, 255);
      border: none;
      border-radius: 6px;
      height: 30px;
      cursor: pointer;
    }
  